<ngl-modal [header]="getHeaderTitle()" [(open)]="opened">
    <div body class="cbs__reset-user-password-modal">
        <form novalidate (ngSubmit)="submitForm(resetPasswordForm)" [formGroup]="resetPasswordForm">
            <div class="slds-form--stacked">
                <div class="slds-form-element" [class.slds-has-error]="(resetPasswordForm.get('newPassword').touched) && (resetPasswordForm.get('newPassword').required || resetPasswordForm.get('newPassword').errors?.minlength)">
                    <label class="slds-form-element__label" for="first-name">
                        <abbr class="slds-required" title="required">*</abbr>
                        New password
                    </label>
                    <div class="slds-form-element__control">
                        <input id="first-name" class="slds-input" type="password" placeholder="New Password" formControlName="newPassword" />
                    </div>
                </div>
                <div class="slds-form-element" [class.slds-has-error]="(resetPasswordForm.get('confirmNewPassword').touched && (resetPasswordForm.get('confirmNewPassword').touched && resetPasswordForm.get('confirmNewPassword').errors?.minlength))">
                    <label class="slds-form-element__label" for="last-name">
                        <abbr class="slds-required" title="required" >*</abbr>
                        Re-enter password
                    </label>
                    <div class="slds-form-element__control">
                        <input id="last-name" class="slds-input" type="password" placeholder="Re-enter password" formControlName="confirmNewPassword" />
                    </div>
                </div>

            </div>

        </form>
        <div class="cbs__auth__spinner" *ngIf="isSubmitting">
            <div class="slds-spinner_container">
                <div class="slds-spinner--brand slds-spinner slds-spinner--small" role="alert">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
        <div [ngSwitch]="isResponseStatusOk">
            <div *ngSwitchCase="'ok'">
                <div class="cbs__response-block">
                    <div class="cbs__response-block__item">
                        <cbs-tickorcross [isTick]="true"></cbs-tickorcross>
                        <p class="slds-text-heading--medium">Password has successfully changed!</p>
                    </div>
                </div>
            </div>
            <div *ngSwitchCase="'error'">
                <div class="cbs__response-block">
                    <div class="cbs__response-block__item">
                        <cbs-tickorcross [isTick]="false"></cbs-tickorcross>
                        <p class="slds-text-heading--medium">{{responseMessage == null ? "Oops! Something went wrong, please try again." : responseMessage}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template ngl-modal-footer>
        <button class="slds-button slds-button--neutral" *ngIf="!isSubmitting && isResponseStatusOk == 'null'" (click)="cancel()">Cancel</button>
        <button class="slds-button slds-button--brand" *ngIf="!isSubmitting && isResponseStatusOk == 'null'" [disabled]="resetPasswordForm && resetPasswordForm.invalid" (click)="submitForm(resetPasswordForm);">Reset password</button>
    </ng-template>
</ngl-modal>
