<div class="cbs__reset-password-request">
    <div class="cbs__reset-password-request-logo">
        <cbs-logo-svg></cbs-logo-svg>
    </div>
    <div class="cbs__reset-password-request-form-wrap">
        <p class="slds-text-color--error" *ngIf="wrongDataSubmit">Please check email and try again.</p>
        <form class="cbs__reset-password-request-form" novalidate #f="ngForm" (ngSubmit)="submitForm(f)" >
            <div class="slds-form--stacked">
             <div *ngIf="!tokenSent">
                 <div class="slds-form-element" [class.slds-has-error]="email.errors?.required && email.touched">
                     <label class="slds-form-element__label" for="email-id">
                         <abbr class="slds-required" title="required" *ngIf="email.errors?.required && email.touched">*</abbr>
                         Email
                     </label>
                     <div class="slds-form-element__control">
                         <input id="email-id" class="slds-input" type="email" placeholder="john@doe.com" name="email" minlength="3" #email="ngModel" ngModel required/>
                     </div>
                 </div>

                 <input type="submit" *ngIf="!isSubmitting" class="slds-button slds-button--brand" [disabled]="f.invalid" value="Submit">
                 <div class="cbs__reset-password-request__spinner" *ngIf="isSubmitting">
                     <div class="slds-spinner_container">
                         <div class="slds-spinner--brand slds-spinner slds-spinner--small" role="alert">
                             <span class="slds-assistive-text">Loading</span>
                             <div class="slds-spinner__dot-a"></div>
                             <div class="slds-spinner__dot-b"></div>
                         </div>
                     </div>
                 </div>
             </div>
                <div *ngIf="tokenSent">
                    <span class="cbs__reset-password__token-sent">We've just sent you email with instruction how to reset password. Please check</span>
                </div>
                <div class="slds-clearfix">
                    <div class="slds-float--right">
                        <a href="#" class="" (click)="goToLoginPage($event)">Back to LogIn</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
