<div [ngStyle]="style"
     [class]="styleClass ? styleClass : 'slds-form-element'"
     [formGroup]="group"
     [class.slds-has-error]="
            (group.get(config.code)?.errors?.required && group.get(config.code).touched)
            || (group.get(config.code)?.invalid && group.get(config.code).touched)">
  <label class="slds-form-element__label">
    <abbr class="slds-required" title="required"
          *ngIf="group.get(config.code)?.errors?.required || group.get(config.code)?.invalid">*</abbr>
    {{ config.caption }}
  </label>
  <div class="slds-form-element__control">
    <input
      [attr.type]="getType(config.fieldType)"
      class="slds-input"
      [value]="config.value ? config.value : ''"
      type="text"
      [attr.placeholder]="config.placeholder"
      [formControlName]="config.code" />
  </div>
</div>
