<div>
    <form novalidate [formGroup]="passwordForm" (ngSubmit)="submitForm()" >
        <h3 class="cbs__user-settings__heading">Change Password</h3>
        <div class="slds-form-element" [class.slds-has-error]="(passwordForm.get('oldPassword').errors?.required && passwordForm.get('oldPassword').touched)">
            <label class="slds-form-element__label" for="old-password">Old Password</label>
            <div class="slds-form-element__control">
            <input id="old-password" name="oldPassword"  class="slds-input" type="password" placeholder="" formControlName="oldPassword" />
            </div>
        </div>
        <br>
        <div class="slds-form-element" [class.slds-has-error]="passwordForm.get('newPassword').touched && ((passwordForm.get('newPassword').errors?.required || passwordForm.get('newPassword').errors?.minlength))">
            <label class="slds-form-element__label" for="new-password">New Password</label>
            <div class="slds-form-element__control">
            <input id="new-password" name="newPassword"  class="slds-input" type="password" placeholder="" formControlName="newPassword"/>
            </div>
        </div>
        <div class="slds-form-element" [class.slds-has-error]="passwordForm.get('confirmPassword').touched && ((passwordForm.get('confirmPassword').errors?.required || passwordForm.get('confirmPassword').errors?.minlength))">
            <label class="slds-form-element__label" for="confirm-password">Confirm password</label>
            <div class="slds-form-element__control">
            <input id="confirm-password" name="confirmPassword" class="slds-input" type="password" placeholder="" formControlName="confirmPassword"/>
            </div>
        </div>
        <button type="submit" class="slds-button slds-button--brand cbs__user-settings__button" [disabled]="!passwordForm.valid">Save</button>
    </form>
</div>
