<div class="cbs__reset-password">
    <div class="cbs__reset-password-logo">
        <cbs-logo-svg></cbs-logo-svg>
    </div>
    <div class="cbs__reset-password-form-wrap">
        <p class="slds-text-color--error" *ngIf="wrongDataSubmit">Please check email and try again.</p>

        <form class="cbs__reset-password-form" novalidate [formGroup]="passwordForm" *ngIf="!passwordChanged" (ngSubmit)="changePassword()">
            <div class="slds-form--stacked" >
               <div *ngIf="tokenValid">
                   <div class="slds-form-element" [class.slds-has-error]="passwordForm.get('password').touched && ((passwordForm.get('password').errors?.required || passwordForm.get('password').errors?.minlength))" >
                       <label class="slds-form-element__label" for="password-id">
                           <abbr class="slds-required" title="required">*</abbr>
                           New Password
                       </label>
                       <div class="slds-form-element__control">
                           <input id="password-id" class="slds-input" type="password" name="password"  formControlName="password" [disabled]="isSubmitting"/>
                       </div>
                   </div>

                   <div class="slds-form-element" [class.slds-has-error]="passwordForm.get('confirmPassword').touched && ((passwordForm.get('confirmPassword').errors?.required || passwordForm.get('confirmPassword').errors?.minlength))" >
                       <label class="slds-form-element__label" for="confirm-password-id">
                           <abbr class="slds-required" title="required">*</abbr>
                           Confirm Password
                       </label>
                       <div class="slds-form-element__control">
                           <input id="confirm-password-id" class="slds-input" type="password" name="confirmPassword"  formControlName="confirmPassword" [disabled]="isSubmitting"/>
                       </div>
                   </div>
                   <input type="submit" *ngIf="!isSubmitting" class="slds-button slds-button--brand" (click)="changePassword()" [disabled]="!passwordForm.valid" value="Change password">
                   <div class="cbs__reset-password__spinner" *ngIf="isSubmitting">
                       <div class="slds-spinner_container">
                           <div class="slds-spinner--brand slds-spinner slds-spinner--small" role="alert">
                               <span class="slds-assistive-text">Loading</span>
                               <div class="slds-spinner__dot-a"></div>
                               <div class="slds-spinner__dot-b"></div>
                           </div>
                       </div>
                   </div>
               </div>
                    <span class="cbs__reset-password__token-invalid" *ngIf="!tokenValid">Token has expired!</span>
                 <div class="slds-clearfix">
                    <div class="slds-float--right">
                        <a href="#" class="" (click)="goToLoginPage($event)">Back to LogIn</a>
                    </div>
                </div>
            </div>
        </form>


        <div *ngIf="passwordChanged">
            <span class="cbs__reset-password__password-changed" >You've successfully changed password. Now you are able to login using it</span>
            <div class="slds-float--right">
                <a href="#" class="" (click)="goToLoginPage($event)">Back to LogIn</a>
            </div>
        </div>



    </div>
</div>
